apiVersion: v1
kind: Secret
metadata:
  name: my-backstage-extra-files-secret1
  labels:
    rhdh.redhat.com/ext-config-sync: "true"
stringData:
  secret_file1.txt: |
    # From Secret
    Lorem Ipsum
    Dolor Sit Amet